<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Context" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=RepoDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <!--<add name="Context" connectionString="Server=tcp:githubserver1.database.windows.net,1433;Initial Catalog=MSSQLLocalDB;Persist Security Info=False;User ID=adminu;Password=DBuser123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
         providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>
